body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f3f3;
  padding: 15px;
}

form{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin:0 auto;
}

button{
  text-align: center;
  color: white;
  background-color: rgb(51, 0, 255);
  font-weight: bold;
}

input{
  width: 100%;
  padding:10px;
  border: 1px solid rgb(1, 1, 16);
  box-sizing: border-box;
  margin-bottom: 20px;
}

label{
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}

