* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(18, 160, 220, 0.1);
    padding: 20px;
}

header {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}
 
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
 
 
.header-title {
    text-align: center;
    font-size: 30px;
    color: rgb(18, 160, 220);
    flex-grow: 1;
}

header img{
    vertical-align: middle;
    max-height: 70px;
    max-width: 200px;
    width: auto;
    height: auto;
    margin: 0;
    margin-right: auto; 
}

h1{
    text-align: center;
    color:rgb(18, 184, 240);
}

form{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 30px auto;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input{
    width: 100%;
    padding:10px;
    border: 1px solid lightblue;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#button{
    text-align: center;
}

button {
    background-color: rgb(18, 184, 240);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
  
button:hover {
background-color: rgb(18, 160, 220);
}

/* エラーメッセージ */
.error {
    color: red;
    margin-top: 0;
    padding-bottom: 1em;
}