* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(18, 160, 220, 0.1);
    padding: 20px;
}

header {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
 
.header-title {
    text-align: center;
    font-size: 30px;
    color: rgb(18, 160, 220);
    font-weight: bolder;
    flex-grow: 1;
}

header img{
    vertical-align: middle;
    max-height: 70px;
    max-width: 200px;
    width: auto;
    height: auto;
    margin-right:20px;
}

main {
    width: 100%;
    padding-top: 20px; /* ヘッダーとフォームの間にスペースを追加 */
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: flex-start;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="file"] {
    padding: 5px;
}

.drawer {
    margin-left: 20px;
}

.drawer-hidden {
    display: none;
}

.drawer-open {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.drawer-open span,
.drawer-open span::before,
.drawer-open span::after {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    position: absolute;

}

.drawer-open span {
    top: 50%;
    transform: translateY(-50%);
}

.drawer-open span::before {
    content: '';
    top: -10px;
}

.drawer-open span::after {
    content: '';
    bottom: -10px;
}

.drawer-content {
    position: absolute;
    top: 40px;
    right: 0;  /* メニューを右に配置 */
    background-color: #fff;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
}

.drawer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drawer-item {
    border-bottom: 1px solid #ddd;
}

.drawer-item:last-child {
    border-bottom: none;
}

.drawer-item a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.drawer-item a:hover {
    background-color: #f0f0f0;
}

#drawer-check:checked ~ .drawer-content {
    display: block;
}

header img {
    vertical-align: middle;
    max-height: 70px;
    max-width: 200px;
    width: auto;
    height: auto;
    margin: 0;
}

/* --------ドアのモーション-------- */
.door-container {
    position: relative;
    width : 120px;
    height: 160px;
    perspective: 1000px;
    margin-bottom: 20px;
    background: none;
    border: none;
}

.door-container p {
    font-size: 20px;
    text-align: center;
    color:  #484848;
    font-family: Meiryo;
}

.door-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/door_bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.door {
    position: relative;
    width: 100%;
    height: 97%;
    background: url('../images/door.png') no-repeat center center;
    background-size: cover;
    transform-origin: right;
    transition: transform 0.5s ease;
    z-index: 2;
}

.door-container:hover .door {
    transform: rotateY(45deg);
}

button:focus {
    outline: none;
}
/* --------ドアのモーション-------- */