button{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 1em; 
  background-color: #0fdde4; 
  color: #FFF; 
  border-radius: 3px; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
  text-align: center;
}